# **Conversion History**

In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Set random seed for reproducibility
random.seed(42)

# Generate random unique 12-digit IDs
app_ids = random.sample(range(10**11, 10**12), 108000)

# Generate random unique 9-digit eKYC IDs
ekyc_ids = random.sample(range(10**8, 10**9), 108000)

# Define value pools for Source, Channel, and Ad platforms
source_pool = ['RB', 'Telesale', 'Facebook', 'Google', 'ZaloAdtima', 'AccessTrade', 'BAMBOO', 'GOTADI', 'VNDIRECT', 'CASHBAG', 'FPT_PLAY', 'MOMO', 'Universities']
channel_pool = ['RB', 'Telesale', 'Digital Direct Sale', 'Ecosystem', 'Partnership']
ad_platforms = ['Facebook', 'Google', 'ZaloAdtima', 'AccessTrade']

# Generate data for each attribute
crm_data = {
    'App_ID': random.sample(app_ids, 108000),
    'eKYC ID': random.sample(ekyc_ids, 108000),
    'Source': [random.choice(source_pool) for _ in range(108000)],
    'Channel': [random.choice(channel_pool) for _ in range(108000)],
    'Click Ads': [random.uniform(datetime(2022, 1, 1), datetime(2023, 1, 1)) for _ in range(108000)],
    'Install App': [],
    'eKYC': []
}

# Generate values for Install App and eKYC based on Click Ads
for i in range(108000):
    click_ads = crm_data['Click Ads'][i]
    install_app = random.uniform(click_ads, datetime(2023, 1, 1))
    ekyc = random.uniform(install_app, datetime(2023, 1, 1))
    crm_data['Install App'].append(install_app)
    crm_data['eKYC'].append(ekyc)

# Create DataFrame
df = pd.DataFrame(crm_data)

# Display the DataFrame
print(df)

              App_ID    eKYC ID       Source              Channel  \
0       189777320284  947146952   ZaloAdtima          Partnership
1       552609347088  731170965  AccessTrade            Ecosystem
2       919979283816  399380712  AccessTrade             Telesale
3       646275473615  952307985       BAMBOO                   RB
4       795116924488  842579141   ZaloAdtima             Telesale
...              ...        ...          ...                  ...
107995  416413196444  791715234      CASHBAG          Partnership
107996  925285058976  557378804   ZaloAdtima             Telesale
107997  241153639767  859524317           RB          Partnership
107998  187567759813  896795272       Google  Digital Direct Sale
107999  691803593272  323149598           RB  Digital Direct Sale

                        Click Ads                Install App  \
0      2022-08-24 09:36:38.265422 2022-12-13 03:10:02.573691
1      2022-12-08 04:13:56.774075 2022-12-15 20:16:58.015076
2      2022-02-10 07:19:36.411318 2022-10-16 09:52:18.782084
3      2022-08-13 06:33:43.352442 2022-11-12 04:56:39.842154
4      2022-04-27 02:16:30.554687 2022-09-10 10:18:32.383908
...                           ...                        ...
107995 2022-08-28 02:29:44.059363 2022-09-04 16:18:39.585794
107996 2022-10-05 03:38:17.548412 2022-10-22 07:41:34.186911
107997 2022-05-30 03:28:14.593118 2022-11-19 03:17:40.100487
107998 2022-02-12 13:26:36.975403 2022-08-24 17:44:34.872583
107999 2022-06-17 14:27:28.455113 2022-07-23 12:05:26.576293

                             eKYC
0      2022-12-13 11:06:56.095822
1      2022-12-29 11:07:53.644167
2      2022-12-26 00:31:25.972693
3      2022-12-11 05:49:54.743331
4      2022-12-14 12:56:22.957536
...                           ...
107995 2022-10-06 19:55:09.208158
107996 2022-12-01 07:12:52.143963
107997 2022-12-01 17:13:33.269271
107998 2022-10-26 14:58:49.464660
107999 2022-10-20 08:59:42.820237

[108000 rows x 7 columns]

In [2]:
df

,App_ID,eKYC ID,Source,Channel,Click Ads,Install App,eKYC
0,189777320284,947146952,ZaloAdtima,Partnership,2022-08-24 09:36:38.265422,2022-12-13 03:10:02.573691,2022-12-13 11:06:56.095822
1,552609347088,731170965,AccessTrade,Ecosystem,2022-12-08 04:13:56.774075,2022-12-15 20:16:58.015076,2022-12-29 11:07:53.644167
2,919979283816,399380712,AccessTrade,Telesale,2022-02-10 07:19:36.411318,2022-10-16 09:52:18.782084,2022-12-26 00:31:25.972693
3,646275473615,952307985,BAMBOO,RB,2022-08-13 06:33:43.352442,2022-11-12 04:56:39.842154,2022-12-11 05:49:54.743331
4,795116924488,842579141,ZaloAdtima,Telesale,2022-04-27 02:16:30.554687,2022-09-10 10:18:32.383908,2022-12-14 12:56:22.957536
...,...,...,...,...,...,...,...
107995,416413196444,791715234,CASHBAG,Partnership,2022-08-28 02:29:44.059363,2022-09-04 16:18:39.585794,2022-10-06 19:55:09.208158
107996,925285058976,557378804,ZaloAdtima,Telesale,2022-10-05 03:38:17.548412,2022-10-22 07:41:34.186911,2022-12-01 07:12:52.143963
107997,241153639767,859524317,RB,Partnership,2022-05-30 03:28:14.593118,2022-11-19 03:17:40.100487,2022-12-01 17:13:33.269271
107998,187567759813,896795272,Google,Digital Direct Sale,2022-02-12 13:26:36.975403,2022-08-24 17:44:34.872583,2022-10-26 14:58:49.464660
107999,691803593272,323149598,RB,Digital Direct Sale,2022-06-17 14:27:28.455113,2022-07-23 12:05:26.576293,2022-10-20 08:59:42.820237

In [3]:
import numpy as np

In [4]:
round(((df['Install App'] - df['Click Ads']) / np.timedelta64(1, 'D')),0).value_counts()

1.0      1715
2.0      1574
3.0      1390
4.0      1346
5.0      1304
         ...
361.0       2
360.0       2
358.0       2
362.0       2
363.0       1
Length: 365, dtype: int64

In [ ]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Set random seed for reproducibility
random.seed(42)

# Generate random unique 12-digit App IDs
app_ids = random.sample(range(10**11, 10**12), 108000)

# Generate random unique 9-digit eKYC IDs
ekyc_ids = random.sample(range(10**8, 10**9), 108000)

# Define value pools for Source, Channel, and Ad platforms
source_pool = ['RB', 'Telesale', 'Facebook', 'Google', 'ZaloAdtima', 'AccessTrade', 'BAMBOO', 'GOTADI', 'VNDIRECT', 'CASHBAG', 'FPT_PLAY', 'MOMO', 'Universities']
channel_pool = ['RB', 'Telesale', 'Digital Direct Sale', 'Ecosystem', 'Partnership']
ad_platforms = ['Facebook', 'Google', 'ZaloAdtima', 'AccessTrade']

# Generate data for each attribute
crm_data = {
    'App_ID': random.sample(app_ids, 108000),
    'eKYC_ID': random.sample(ekyc_ids, 108000),
    'Source': [],
    'Channel': [],
    'Click_Ads': [],
    'Install_App': [],
    'eKYC': [],
    'account_created': [],
    'trans_date': []
}

# Generate values for Source, Channel, Click Ads, Install App, and eKYC
for i in range(108000):
    channel = random.choice(channel_pool)

    if channel == 'RB':
        source = 'RB'
    elif channel == 'Telesale':
        source = 'Telesale'
    elif channel == 'Digital Direct Sale':
        source = random.choice(ad_platforms)
    elif channel == 'Ecosystem':
        source = random.choice(['BAMBOO', 'GOTADI', 'VNDIRECT'])
    elif channel == 'Partnership':
        source = random.choice(['CASHBAG', 'FPT_PLAY', 'MOMO', 'Universities'])

    click_ads = random.uniform(datetime(2022, 1, 1), datetime(2023, 1, 1))
    install_app = None if random.random() <= 0.15 else random.uniform(click_ads, datetime(2023, 1, 1))
    ekyc = None if install_app is None or random.random() <= 0.27 else random.uniform(install_app, datetime(2023, 1, 1))
    account_created = None if ekyc is None or random.random() <= 0.32 else random.uniform(ekyc, datetime(2023, 1, 1))
    trans_date = None if account_created is None or random.random() <= 0.53 else random.uniform(account_created, datetime(2023, 1, 1))

    crm_data['Source'].append(source)
    crm_data['Channel'].append(channel)
    crm_data['Click_Ads'].append(click_ads)
    crm_data['Install_App'].append(install_app)
    crm_data['eKYC'].append(ekyc)
    crm_data['account_created'].append(account_created)
    crm_data['trans_date'].append(trans_date)

In [ ]:
df_2 = pd.DataFrame(crm_data)

In [ ]:
df_2.head(5)

,App_ID,eKYC_ID,Source,Channel,Click_Ads,Install_App,eKYC,account_created,trans_date
0,189777320284,947146952,ZaloAdtima,Digital Direct Sale,2022-10-25 19:56:40.456400,2022-11-05 04:34:43.328966,2022-12-31 02:57:32.228639,2022-12-31 12:11:27.810310,2022-12-31 13:32:55.138540
1,552609347088,731170965,Facebook,Digital Direct Sale,2022-01-18 09:38:48.001337,2022-06-11 03:56:53.644032,2022-10-22 05:51:35.718344,2022-12-30 20:07:35.918913,2022-12-30 23:39:12.242725
2,919979283816,399380712,RB,RB,2022-12-15 00:47:34.125615,2022-12-25 18:04:30.603337,NaT,NaT,NaT
3,646275473615,952307985,GOTADI,Ecosystem,2022-03-16 18:01:28.522532,2022-09-16 06:40:24.344017,2022-11-19 16:34:27.612759,NaT,NaT
4,795116924488,842579141,MOMO,Partnership,2022-08-30 18:41:07.061955,2022-11-26 00:14:43.267781,2022-12-29 21:04:26.789789,NaT,NaT

In [ ]:
df_2['Click_Ads'].isna().sum()

0

In [ ]:
df_2['Install_App'].isna().sum()

16204

In [ ]:
df_2[(df_2['Install_App'].isna()) & (df_2['eKYC'].isna())]

,App_ID,eKYC_ID,Source,Channel,Click_Ads,Install_App,eKYC,account_created,trans_date
10,704253171713,756088056,BAMBOO,Ecosystem,2022-08-21 05:32:23.023221,NaT,NaT,NaT,NaT
12,284563686009,295384054,Facebook,Digital Direct Sale,2022-07-31 12:59:29.710999,NaT,NaT,NaT,NaT
17,437156489356,552201429,BAMBOO,Ecosystem,2022-04-05 12:15:20.040238,NaT,NaT,NaT,NaT
24,140799975278,679290683,CASHBAG,Partnership,2022-01-25 00:47:45.611157,NaT,NaT,NaT,NaT
27,523128804321,946839694,AccessTrade,Digital Direct Sale,2022-12-14 19:19:08.764667,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...
107973,825363706944,388772034,ZaloAdtima,Digital Direct Sale,2022-08-05 16:34:36.668869,NaT,NaT,NaT,NaT
107974,131061751121,888104257,FPT_PLAY,Partnership,2022-08-14 22:56:33.682817,NaT,NaT,NaT,NaT
107975,822742925907,762047602,VNDIRECT,Ecosystem,2022-04-25 22:30:20.172207,NaT,NaT,NaT,NaT
107977,943808906170,488185635,MOMO,Partnership,2022-09-05 17:51:10.037686,NaT,NaT,NaT,NaT
107983,767242326645,251868977,RB,RB,2022-03-04 03:52:20.268137,NaT,NaT,NaT,NaT

In [ ]:
df_2[(df_2['eKYC'].isna())]

,App_ID,eKYC_ID,Source,Channel,Click_Ads,Install_App,eKYC,account_created,trans_date
2,919979283816,399380712,RB,RB,2022-12-15 00:47:34.125615,2022-12-25 18:04:30.603337,NaT,NaT,NaT
10,704253171713,756088056,BAMBOO,Ecosystem,2022-08-21 05:32:23.023221,NaT,NaT,NaT,NaT
12,284563686009,295384054,Facebook,Digital Direct Sale,2022-07-31 12:59:29.710999,NaT,NaT,NaT,NaT
17,437156489356,552201429,BAMBOO,Ecosystem,2022-04-05 12:15:20.040238,NaT,NaT,NaT,NaT
20,829176038114,639101812,Telesale,Telesale,2022-05-03 22:19:32.872254,2022-11-17 00:05:54.652709,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...
107988,213621806849,714525820,RB,RB,2022-10-18 08:33:31.102960,2022-10-29 06:30:06.583518,NaT,NaT,NaT
107989,584553054210,216589127,Universities,Partnership,2022-04-14 02:58:46.857240,2022-11-19 05:30:33.321836,NaT,NaT,NaT
107994,620782982528,793669650,Google,Digital Direct Sale,2022-01-17 03:40:52.961964,2022-05-12 03:58:45.425423,NaT,NaT,NaT
107995,416413196444,791715234,Universities,Partnership,2022-05-24 02:40:16.321895,2022-07-08 15:36:28.006310,NaT,NaT,NaT
107996,925285058976,557378804,Telesale,Telesale,2022-12-06 20:44:59.706606,2022-12-11 02:11:45.635136,NaT,NaT,NaT

In [ ]:
df_2[~(df_2['eKYC'].isna())]

,App_ID,eKYC_ID,Source,Channel,Click_Ads,Install_App,eKYC,account_created,trans_date
0,189777320284,947146952,ZaloAdtima,Digital Direct Sale,2022-10-25 19:56:40.456400,2022-11-05 04:34:43.328966,2022-12-31 02:57:32.228639,2022-12-31 12:11:27.810310,2022-12-31 13:32:55.138540
1,552609347088,731170965,Facebook,Digital Direct Sale,2022-01-18 09:38:48.001337,2022-06-11 03:56:53.644032,2022-10-22 05:51:35.718344,2022-12-30 20:07:35.918913,2022-12-30 23:39:12.242725
3,646275473615,952307985,GOTADI,Ecosystem,2022-03-16 18:01:28.522532,2022-09-16 06:40:24.344017,2022-11-19 16:34:27.612759,NaT,NaT
4,795116924488,842579141,MOMO,Partnership,2022-08-30 18:41:07.061955,2022-11-26 00:14:43.267781,2022-12-29 21:04:26.789789,NaT,NaT
5,494601345981,484921809,RB,RB,2022-01-23 02:58:26.339291,2022-07-31 05:34:02.189617,2022-08-31 05:58:24.598552,2022-12-16 01:53:00.245820,2022-12-23 03:51:50.427583
...,...,...,...,...,...,...,...,...,...
107992,432880912865,672355330,Telesale,Telesale,2022-02-14 15:38:37.940338,2022-07-22 02:12:11.435757,2022-09-03 04:46:01.035672,NaT,NaT
107993,683025110578,458737684,RB,RB,2022-06-26 08:07:26.919689,2022-08-05 10:05:41.995004,2022-11-30 06:04:54.654145,2022-12-29 20:17:36.188196,NaT
107997,241153639767,859524317,GOTADI,Ecosystem,2022-12-22 10:35:33.208890,2022-12-30 15:42:20.487130,2022-12-31 05:47:29.719332,2022-12-31 17:43:03.181719,2022-12-31 19:48:40.378184
107998,187567759813,896795272,VNDIRECT,Ecosystem,2022-05-25 00:59:47.522177,2022-10-31 05:54:18.008314,2022-12-31 01:35:11.146551,2022-12-31 21:18:02.955062,NaT
107999,691803593272,323149598,RB,RB,2022-05-23 19:30:45.005086,2022-11-13 15:01:46.463865,2022-11-17 09:09:43.012075,2022-11-18 05:16:37.424271,NaT

In [ ]:
df_2.to_csv('/content/drive/MyDrive/Session Slides/Bigcourse/Case 1/CRM_Data.csv',date_format='%Y-%m-%d %H:%M:%S')

In [ ]:
df_2['Click_Ads']

0        2022-10-25 19:56:40.456400
1        2022-01-18 09:38:48.001337
2        2022-12-15 00:47:34.125615
3        2022-03-16 18:01:28.522532
4        2022-08-30 18:41:07.061955
                    ...
107995   2022-05-24 02:40:16.321895
107996   2022-12-06 20:44:59.706606
107997   2022-12-22 10:35:33.208890
107998   2022-05-25 00:59:47.522177
107999   2022-05-23 19:30:45.005086
Name: Click_Ads, Length: 108000, dtype: datetime64[ns]

# **eKYC**

In [ ]:
import numpy as np

In [ ]:
ekyc_df = pd.DataFrame()

In [ ]:
ekyc_df['eKYC_ID']=df_2[~(df_2['eKYC'].isna())]['eKYC_ID']
ekyc_df['eKYC_DT']=df_2[~(df_2['eKYC'].isna())]['eKYC']

In [ ]:
ekyc_df['account_created']=df_2[~(df_2['eKYC'].isna())]['account_created']

In [ ]:
ekyc_df.reset_index(inplace=True)

In [ ]:
ekyc_df

        index    eKYC_ID                    eKYC_DT            account_created
0           0  947146952 2022-12-31 02:57:32.228639 2022-12-31 12:11:27.810310
1           1  731170965 2022-10-22 05:51:35.718344 2022-12-30 20:07:35.918913
2           3  952307985 2022-11-19 16:34:27.612759                        NaT
3           4  842579141 2022-12-29 21:04:26.789789                        NaT
4           5  484921809 2022-08-31 05:58:24.598552 2022-12-16 01:53:00.245820
...       ...        ...                        ...                        ...
66962  107992  672355330 2022-09-03 04:46:01.035672                        NaT
66963  107993  458737684 2022-11-30 06:04:54.654145 2022-12-29 20:17:36.188196
66964  107997  859524317 2022-12-31 05:47:29.719332 2022-12-31 17:43:03.181719
66965  107998  896795272 2022-12-31 01:35:11.146551 2022-12-31 21:18:02.955062
66966  107999  323149598 2022-11-17 09:09:43.012075 2022-11-18 05:16:37.424271

[66967 rows x 4 columns]

In [ ]:
# Set random seed for reproducibility
random.seed(42)

# Generate random account
def generate_transaction_account():
    return '-'.join([generate_random_string(4) for _ in range(3)]) + '-' + generate_random_string(4)

# Generate random Account_Category
def generate_account_category():
    categories = ['1001', '1002']
    return random.choice(categories)

# Pool of Vietnamese provinces
vietnam_provinces = [
    'An Giang', 'Bà Rịa–Vũng Tàu', 'Bạc Liêu', 'Bắc Giang', 'Bắc Kạn', 'Bắc Ninh', 'Bến Tre',
    'Bình Dương', 'Bình Định', 'Bình Phước', 'Bình Thuận', 'Cà Mau', 'Cao Bằng', 'Cần Thơ',
    'Đà Nẵng', 'Đắk Lắk', 'Đắk Nông', 'Điện Biên', 'Đồng Nai', 'Đồng Tháp', 'Gia Lai', 'Hà Giang',
    'Hà Nam', 'Hà Nội', 'Hà Tĩnh', 'Hải Dương', 'Hải Phòng', 'Hậu Giang', 'Hòa Bình', 'Tp Hồ Chí Minh',
    'Hưng Yên', 'Khánh Hòa', 'Kiên Giang', 'Kon Tum', 'Lai Châu', 'Lạng Sơn', 'Lào Cai', 'Lâm Đồng',
    'Long An', 'Nam Định', 'Nghệ An', 'Ninh Bình', 'Ninh Thuận', 'Phú Thọ', 'Phú Yên', 'Quảng Bình',
    'Quảng Nam', 'Quảng Ngãi', 'Quảng Ninh', 'Quảng Trị', 'Sóc Trăng', 'Sơn La', 'Tây Ninh', 'Thái Bình',
    'Thái Nguyên', 'Thanh Hóa', 'Thừa Thiên Huế', 'Tiền Giang', 'Trà Vinh', 'Tuyên Quang', 'Vĩnh Long',
    'Vĩnh Phúc', 'Yên Bái'
]

# Generate data for each attribute
customer_ids = np.random.choice(range(100000, 999999), size=67025, replace=False).astype(str)
# Generate random Transaction_Account

ekyc_data = {
    'ocr_information': [],
    'input_information': [],
    'score': [],
    'customer_id': customer_ids,
    'account_no':[],
    'categ':[]
}

for _ in range(67025):
    name = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=10))
    dob = (datetime(2005, 8, 19) - timedelta(days=random.randint(1, 6000))).strftime('%Y-%m-%d')
    gender = random.choice(['F', 'M'])
    nationality = random.choice(['Vietnam'] * 86 + [country.capitalize() for country in random.sample(vietnam_provinces, 1)] + ['Unknown'])
    address = random.choice(vietnam_provinces) if nationality == 'Vietnam' else 'UNKNOWN'


    ocr_info = {
        'name': name,
        'dob': dob,
        'gender': gender,
        'nationality': nationality,
        'address': address
    }

    input_info = ocr_info.copy()
    if random.random() > 0.78:
        # Randomly modify input information to be different from OCR information
        input_info['name'] = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=10))
        input_info['dob'] = (datetime(2005, 8, 19) - timedelta(days=random.randint(1, 6000))).strftime('%Y-%m-%d')
        input_info['gender'] = random.choice(['F', 'M'])
        input_info['nationality'] = random.choice(['Vietnam'] * 86 + [country.capitalize() for country in random.sample(vietnam_provinces, 1)] + ['Unknown'])
        input_info['address'] = random.choice(vietnam_provinces) if input_info['nationality'] == 'Vietnam' else 'UNKNOWN'


    if ocr_info == input_info and random.random() > 0.05:
        sanity =  round(random.uniform(0.85, 1), 2)
        tamper =  round(random.uniform(0.85, 1), 2)
        liveness =  round(random.uniform(0.85, 1), 2)
        matching =  round(random.uniform(0.85, 1), 2)
    else:
        sanity = round(random.uniform(0, 1), 2)
        tamper = round(random.uniform(0, 1), 2)
        liveness = round(random.uniform(0, 1), 2)
        matching = round(random.uniform(0, 1), 2)

    account = generate_transaction_account()
    categ = generate_account_category()
    if input_info != ocr_info or random.random() < 0.1:
        customer_ids[_] = 'NULL'
        account = 'NULL'
        categ = 'NULL'




    #customer_id = None if input_info != ocr_info or random.random() < 0.1 else str(random.sample(range(10**5, 10**6), 1)[0]) #str(random.randint(100000, 999999))

    ekyc_info = {
        'ocr_information': ocr_info,
        'input_information': input_info,
        'score': {
            'sanity': sanity,
            'tamper': tamper,
            'liveness': liveness,
            'matching': matching
        },
        #'customer_id': customer_ids
        'account_no': account,
        'categ': categ,
    }

    ekyc_data['ocr_information'].append(ekyc_info['ocr_information'])
    ekyc_data['input_information'].append(ekyc_info['input_information'])
    ekyc_data['score'].append(ekyc_info['score'])
    #ekyc_data['customer_id'].append(ekyc_info['customer_id'])
    ekyc_data['account_no'].append(ekyc_info['account_no'])
    ekyc_data['categ'].append(ekyc_info['categ'])
# Create DataFrame from the generated data
df_3 = pd.DataFrame(ekyc_data)

# Print the DataFrame
print(df_3)

                                         ocr_information  \
0      {'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...
1      {'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...
2      {'name': 'bxosfmxqdd', 'dob': '1993-01-15', 'g...
3      {'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...
4      {'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...
...                                                  ...
67020  {'name': 'befyebgzzc', 'dob': '2005-06-08', 'g...
67021  {'name': 'kmgyosvsyi', 'dob': '1993-03-25', 'g...
67022  {'name': 'sdnqudtcuj', 'dob': '1991-10-07', 'g...
67023  {'name': 'zgijjiavzz', 'dob': '2001-04-14', 'g...
67024  {'name': 'mdkukpduyf', 'dob': '1994-11-09', 'g...

                                       input_information  \
0      {'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...
1      {'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...
2      {'name': 'kfzncbcquk', 'dob': '2004-03-16', 'g...
3      {'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...
4      {'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...
...                                                  ...
67020  {'name': 'rjmchyubig', 'dob': '1989-04-19', 'g...
67021  {'name': 'kmgyosvsyi', 'dob': '1993-03-25', 'g...
67022  {'name': 'sdnqudtcuj', 'dob': '1991-10-07', 'g...
67023  {'name': 'zgijjiavzz', 'dob': '2001-04-14', 'g...
67024  {'name': 'mdkukpduyf', 'dob': '1994-11-09', 'g...

                                                   score customer_id  \
0      {'sanity': 0.96, 'tamper': 0.91, 'liveness': 0...      527181
1      {'sanity': 0.95, 'tamper': 0.9, 'liveness': 0....      422352
2      {'sanity': 0.53, 'tamper': 0.97, 'liveness': 0...        NULL
3      {'sanity': 0.96, 'tamper': 0.97, 'liveness': 1...      767944
4      {'sanity': 0.99, 'tamper': 0.94, 'liveness': 0...      240069
...                                                  ...         ...
67020  {'sanity': 0.93, 'tamper': 0.91, 'liveness': 0...        NULL
67021  {'sanity': 0.98, 'tamper': 0.95, 'liveness': 0...      572697
67022  {'sanity': 0.94, 'tamper': 0.9, 'liveness': 0....      238432
67023  {'sanity': 0.93, 'tamper': 0.89, 'liveness': 0...      685680
67024  {'sanity': 0.99, 'tamper': 0.95, 'liveness': 0...      797978

                account_no categ
0      0265-4235-1161-5594  1001
1      4192-8327-6483-5030  1002
2                     NULL  NULL
3      2278-2489-6383-4657  1002
4      6311-6566-7010-6513  1001
...                    ...   ...
67020                 NULL  NULL
67021  9915-3302-3219-0962  1001
67022  6856-8522-9120-1053  1001
67023  9604-2538-5508-9509  1002
67024  4434-4743-0134-7588  1002

[67025 rows x 6 columns]

In [ ]:
df_3

,ocr_information,input_information,score,customer_id,account_no,categ
0,"{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...","{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...","{'sanity': 0.96, 'tamper': 0.91, 'liveness': 0...",527181,0265-4235-1161-5594,1001
1,"{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...","{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...","{'sanity': 0.95, 'tamper': 0.9, 'liveness': 0....",422352,4192-8327-6483-5030,1002
2,"{'name': 'bxosfmxqdd', 'dob': '1993-01-15', 'g...","{'name': 'kfzncbcquk', 'dob': '2004-03-16', 'g...","{'sanity': 0.53, 'tamper': 0.97, 'liveness': 0...",NULL,NULL,NULL
3,"{'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...","{'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...","{'sanity': 0.96, 'tamper': 0.97, 'liveness': 1...",767944,2278-2489-6383-4657,1002
4,"{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...","{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...","{'sanity': 0.99, 'tamper': 0.94, 'liveness': 0...",240069,6311-6566-7010-6513,1001
...,...,...,...,...,...,...
67020,"{'name': 'befyebgzzc', 'dob': '2005-06-08', 'g...","{'name': 'rjmchyubig', 'dob': '1989-04-19', 'g...","{'sanity': 0.93, 'tamper': 0.91, 'liveness': 0...",NULL,NULL,NULL
67021,"{'name': 'kmgyosvsyi', 'dob': '1993-03-25', 'g...","{'name': 'kmgyosvsyi', 'dob': '1993-03-25', 'g...","{'sanity': 0.98, 'tamper': 0.95, 'liveness': 0...",572697,9915-3302-3219-0962,1001
67022,"{'name': 'sdnqudtcuj', 'dob': '1991-10-07', 'g...","{'name': 'sdnqudtcuj', 'dob': '1991-10-07', 'g...","{'sanity': 0.94, 'tamper': 0.9, 'liveness': 0....",238432,6856-8522-9120-1053,1001
67023,"{'name': 'zgijjiavzz', 'dob': '2001-04-14', 'g...","{'name': 'zgijjiavzz', 'dob': '2001-04-14', 'g...","{'sanity': 0.93, 'tamper': 0.89, 'liveness': 0...",685680,9604-2538-5508-9509,1002
67024,"{'name': 'mdkukpduyf', 'dob': '1994-11-09', 'g...","{'name': 'mdkukpduyf', 'dob': '1994-11-09', 'g...","{'sanity': 0.99, 'tamper': 0.95, 'liveness': 0...",797978,4434-4743-0134-7588,1002

In [ ]:
df_3[df_3['ocr_information'].apply(lambda x: x['name']) != df_3['input_information'].apply(lambda x: x['name'])]

,ocr_information,input_information,score,customer_id,account_no,categ
2,"{'name': 'bxosfmxqdd', 'dob': '1993-01-15', 'g...","{'name': 'kfzncbcquk', 'dob': '2004-03-16', 'g...","{'sanity': 0.53, 'tamper': 0.97, 'liveness': 0...",NULL,NULL,NULL
7,"{'name': 'djbghlohzu', 'dob': '1993-10-07', 'g...","{'name': 'cwgxtehfir', 'dob': '1999-09-17', 'g...","{'sanity': 0.63, 'tamper': 0.83, 'liveness': 0...",NULL,NULL,NULL
14,"{'name': 'liwhykvmtb', 'dob': '1997-10-13', 'g...","{'name': 'bagvqgmcym', 'dob': '1999-11-19', 'g...","{'sanity': 0.96, 'tamper': 0.72, 'liveness': 0...",NULL,NULL,NULL
20,"{'name': 'afrwpatvot', 'dob': '2001-09-13', 'g...","{'name': 'epqmcjirwi', 'dob': '1990-01-27', 'g...","{'sanity': 0.4, 'tamper': 0.76, 'liveness': 0....",NULL,NULL,NULL
23,"{'name': 'xadwzbugqk', 'dob': '2003-10-31', 'g...","{'name': 'jistwabqxz', 'dob': '2003-08-09', 'g...","{'sanity': 0.63, 'tamper': 0.87, 'liveness': 0...",NULL,NULL,NULL
...,...,...,...,...,...,...
66985,"{'name': 'ebslyqwacw', 'dob': '1997-05-18', 'g...","{'name': 'jhibjwgifb', 'dob': '1993-08-02', 'g...","{'sanity': 0.37, 'tamper': 0.18, 'liveness': 0...",NULL,NULL,NULL
66990,"{'name': 'bdzkmafmih', 'dob': '2002-07-02', 'g...","{'name': 'rjhuhpjnle', 'dob': '2002-02-12', 'g...","{'sanity': 0.77, 'tamper': 0.2, 'liveness': 0....",NULL,NULL,NULL
66996,"{'name': 'pskauyixtt', 'dob': '1993-06-06', 'g...","{'name': 'plbgyeiehm', 'dob': '1996-01-10', 'g...","{'sanity': 0.76, 'tamper': 0.52, 'liveness': 0...",NULL,NULL,NULL
67005,"{'name': 'cklqzgjsbh', 'dob': '2003-05-21', 'g...","{'name': 'ugbkarcctk', 'dob': '1995-11-22', 'g...","{'sanity': 0.27, 'tamper': 0.78, 'liveness': 0...",NULL,NULL,NULL
67020,"{'name': 'befyebgzzc', 'dob': '2005-06-08', 'g...","{'name': 'rjmchyubig', 'dob': '1989-04-19', 'g...","{'sanity': 0.93, 'tamper': 0.91, 'liveness': 0...",NULL,NULL,NULL

In [ ]:
df_3[(df_3['ocr_information'].apply(lambda x: x['name']) == df_3['input_information'].apply(lambda x: x['name'])) & (df_3['score'].apply(lambda x: x['sanity']) < 0.85)]

,ocr_information,input_information,score,customer_id,account_no,categ
13,"{'name': 'tjajtwykto', 'dob': '1992-02-07', 'g...","{'name': 'tjajtwykto', 'dob': '1992-02-07', 'g...","{'sanity': 0.34, 'tamper': 0.68, 'liveness': 0...",762332,7298-0699-0162-7204,1002
89,"{'name': 'uoeuudlllm', 'dob': '2005-07-11', 'g...","{'name': 'uoeuudlllm', 'dob': '2005-07-11', 'g...","{'sanity': 0.32, 'tamper': 0.83, 'liveness': 0...",487652,3354-2168-9421-0447,1002
232,"{'name': 'jjxnhzrldt', 'dob': '2005-07-02', 'g...","{'name': 'jjxnhzrldt', 'dob': '2005-07-02', 'g...","{'sanity': 0.39, 'tamper': 0.74, 'liveness': 0...",122068,3741-6787-2568-6211,1001
288,"{'name': 'thlczojlfk', 'dob': '1999-05-21', 'g...","{'name': 'thlczojlfk', 'dob': '1999-05-21', 'g...","{'sanity': 0.5, 'tamper': 0.39, 'liveness': 0....",778628,1739-0637-5791-4521,1001
301,"{'name': 'mjxrgihvoe', 'dob': '1997-08-17', 'g...","{'name': 'mjxrgihvoe', 'dob': '1997-08-17', 'g...","{'sanity': 0.11, 'tamper': 0.73, 'liveness': 0...",NULL,NULL,NULL
...,...,...,...,...,...,...
66907,"{'name': 'dhzgaamfsd', 'dob': '2000-10-22', 'g...","{'name': 'dhzgaamfsd', 'dob': '2000-10-22', 'g...","{'sanity': 0.08, 'tamper': 0.24, 'liveness': 0...",716054,1986-2115-3280-3817,1001
66908,"{'name': 'komgmwanoi', 'dob': '2002-11-14', 'g...","{'name': 'komgmwanoi', 'dob': '2002-11-14', 'g...","{'sanity': 0.02, 'tamper': 0.26, 'liveness': 0...",526214,9594-6129-2594-5047,1001
66926,"{'name': 'njwjaidvkg', 'dob': '1996-05-15', 'g...","{'name': 'njwjaidvkg', 'dob': '1996-05-15', 'g...","{'sanity': 0.66, 'tamper': 0.87, 'liveness': 0...",526497,2300-9923-3680-9242,1001
66952,"{'name': 'arepszijaw', 'dob': '1993-07-08', 'g...","{'name': 'arepszijaw', 'dob': '1993-07-08', 'g...","{'sanity': 0.82, 'tamper': 0.25, 'liveness': 0...",123532,1212-4782-1973-3002,1001
66969,"{'name': 'ruiefbxucr', 'dob': '1989-05-29', 'g...","{'name': 'ruiefbxucr', 'dob': '1989-05-29', 'g...","{'sanity': 0.59, 'tamper': 0.57, 'liveness': 0...",NULL,NULL,NULL

In [ ]:
ekyc_df['OCR_INFO'] = df_3['ocr_information']
ekyc_df['INPUT_INFO'] = df_3['input_information']

In [ ]:
ekyc_df

,index,eKYC_ID,eKYC_DT,account_created,OCR_INFO,INPUT_INFO,SANITY_SCORE,TAMPER_SCORE,LIVENESS_SCORE,MATCHING_SCORE,CUSTOMER_ID,ACCOUNT_NO
0,0,947146952,2022-12-31 02:57:32.228639,2022-12-31 12:11:27.810310,"{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...","{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...",0.96,0.91,0.92,0.89,764521,0265-4235-1161-5594
1,1,731170965,2022-10-22 05:51:35.718344,2022-12-30 20:07:35.918913,"{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...","{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...",0.46,0.27,0.93,0.69,NULL,NULL
2,3,952307985,2022-11-19 16:34:27.612759,NaT,"{'name': 'bxosfmxqdd', 'dob': '1993-01-15', 'g...","{'name': 'kfzncbcquk', 'dob': '2004-03-16', 'g...",0.97,0.91,0.86,0.91,376919,NULL
3,4,842579141,2022-12-29 21:04:26.789789,NaT,"{'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...","{'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...",0.98,0.97,0.90,0.86,747505,NULL
4,5,484921809,2022-08-31 05:58:24.598552,2022-12-16 01:53:00.245820,"{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...","{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...",0.88,0.99,0.98,0.86,514056,3473-8299-7376-3116
...,...,...,...,...,...,...,...,...,...,...,...,...
66962,107992,672355330,2022-09-03 04:46:01.035672,NaT,"{'name': 'zlwywhlxfl', 'dob': '2002-06-29', 'g...","{'name': 'uvvjuabtlv', 'dob': '1991-07-01', 'g...",0.88,0.86,0.90,1.00,548350,NULL
66963,107993,458737684,2022-11-30 06:04:54.654145,2022-12-29 20:17:36.188196,"{'name': 'trwdltnyxd', 'dob': '1994-11-26', 'g...","{'name': 'trwdltnyxd', 'dob': '1994-11-26', 'g...",0.90,0.96,0.91,0.94,422538,1486-7243-4123-4374
66964,107997,859524317,2022-12-31 05:47:29.719332,2022-12-31 17:43:03.181719,"{'name': 'wzhaqgprdw', 'dob': '1992-05-04', 'g...","{'name': 'wzhaqgprdw', 'dob': '1992-05-04', 'g...",0.23,0.49,0.36,0.40,NULL,NULL
66965,107998,896795272,2022-12-31 01:35:11.146551,2022-12-31 21:18:02.955062,"{'name': 'mdjcztcxsd', 'dob': '2002-04-26', 'g...","{'name': 'mdjcztcxsd', 'dob': '2002-04-26', 'g...",0.95,0.86,0.88,0.89,511180,4324-9370-7651-9246
66966,107999,323149598,2022-11-17 09:09:43.012075,2022-11-18 05:16:37.424271,"{'name': 'oqunzvqqko', 'dob': '1990-05-03', 'g...","{'name': 'oqunzvqqko', 'dob': '1990-05-03', 'g...",0.31,0.52,0.26,0.81,NULL,NULL

In [ ]:
ekyc_df['SANITY_SCORE'] = df_3['score'].apply(lambda x: x['sanity'])
ekyc_df['TAMPER_SCORE'] = df_3['score'].apply(lambda x: x['tamper'])
ekyc_df['LIVENESS_SCORE'] = df_3['score'].apply(lambda x: x['liveness'])
ekyc_df['MATCHING_SCORE'] = df_3['score'].apply(lambda x: x['matching'])
ekyc_df['CUSTOMER_ID'] = df_3['customer_id']
ekyc_df['ACCOUNT_NO'] = df_3['account_no']
ekyc_df['ACCOUNT_CATEGORY'] = df_3['categ']

In [ ]:
ekyc_df

,index,eKYC_ID,eKYC_DT,account_created,OCR_INFO,INPUT_INFO,SANITY_SCORE,TAMPER_SCORE,LIVENESS_SCORE,MATCHING_SCORE,CUSTOMER_ID,ACCOUNT_NO,ACCOUNT_CATEGORY
0,0,947146952,2022-12-31 02:57:32.228639,2022-12-31 12:11:27.810310,"{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...","{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...",0.96,0.91,0.92,0.89,527181,0265-4235-1161-5594,1001
1,1,731170965,2022-10-22 05:51:35.718344,2022-12-30 20:07:35.918913,"{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...","{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...",0.95,0.90,0.91,0.88,422352,4192-8327-6483-5030,1002
2,3,952307985,2022-11-19 16:34:27.612759,NaT,"{'name': 'bxosfmxqdd', 'dob': '1993-01-15', 'g...","{'name': 'kfzncbcquk', 'dob': '2004-03-16', 'g...",0.53,0.97,0.86,0.01,NULL,NULL,NULL
3,4,842579141,2022-12-29 21:04:26.789789,NaT,"{'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...","{'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...",0.96,0.97,1.00,0.93,767944,2278-2489-6383-4657,1002
4,5,484921809,2022-08-31 05:58:24.598552,2022-12-16 01:53:00.245820,"{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...","{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...",0.99,0.94,0.92,0.97,240069,6311-6566-7010-6513,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66962,107992,672355330,2022-09-03 04:46:01.035672,NaT,"{'name': 'zlwywhlxfl', 'dob': '2002-06-29', 'g...","{'name': 'uvvjuabtlv', 'dob': '1991-07-01', 'g...",0.15,0.43,0.06,0.38,NULL,NULL,NULL
66963,107993,458737684,2022-11-30 06:04:54.654145,2022-12-29 20:17:36.188196,"{'name': 'trwdltnyxd', 'dob': '1994-11-26', 'g...","{'name': 'trwdltnyxd', 'dob': '1994-11-26', 'g...",0.99,0.89,0.87,0.91,543324,2022-2693-5009-7950,1001
66964,107997,859524317,2022-12-31 05:47:29.719332,2022-12-31 17:43:03.181719,"{'name': 'wzhaqgprdw', 'dob': '1992-05-04', 'g...","{'name': 'wzhaqgprdw', 'dob': '1992-05-04', 'g...",0.86,0.98,0.87,0.95,318650,2529-2076-0793-8517,1001
66965,107998,896795272,2022-12-31 01:35:11.146551,2022-12-31 21:18:02.955062,"{'name': 'mdjcztcxsd', 'dob': '2002-04-26', 'g...","{'name': 'mdjcztcxsd', 'dob': '2002-04-26', 'g...",0.93,0.86,0.92,0.88,211529,6529-8856-9358-2643,1001
66966,107999,323149598,2022-11-17 09:09:43.012075,2022-11-18 05:16:37.424271,"{'name': 'oqunzvqqko', 'dob': '1990-05-03', 'g...","{'name': 'oqunzvqqko', 'dob': '1990-05-03', 'g...",0.94,0.90,0.85,0.88,820656,5335-4882-1542-2832,1001

In [ ]:
ekyc_df.loc[ekyc_df['account_created'].isna(),'ACCOUNT_NO'] = 'NULL'

In [ ]:
ekyc_df.loc[ekyc_df['account_created'].isna(),'ACCOUNT_CATEGORY'] = 'NULL'

In [ ]:
ekyc_df[(ekyc_df['CUSTOMER_ID']=='NULL')]

,index,eKYC_ID,eKYC_DT,account_created,OCR_INFO,INPUT_INFO,SANITY_SCORE,TAMPER_SCORE,LIVENESS_SCORE,MATCHING_SCORE,CUSTOMER_ID,ACCOUNT_NO,ACCOUNT_CATEGORY
2,3,952307985,2022-11-19 16:34:27.612759,NaT,"{'name': 'bxosfmxqdd', 'dob': '1993-01-15', 'g...","{'name': 'kfzncbcquk', 'dob': '2004-03-16', 'g...",0.53,0.97,0.86,0.01,NULL,NULL,NULL
5,6,461433182,2022-12-10 11:03:02.724057,2022-12-30 04:45:26.102247,"{'name': 'lkhgylwobz', 'dob': '2005-04-20', 'g...","{'name': 'lkhgylwobz', 'dob': '2005-04-20', 'g...",0.98,0.99,0.87,0.85,NULL,NULL,NULL
7,8,333697238,2022-12-30 08:25:11.499640,2022-12-31 01:44:25.008950,"{'name': 'djbghlohzu', 'dob': '1993-10-07', 'g...","{'name': 'cwgxtehfir', 'dob': '1999-09-17', 'g...",0.63,0.83,0.04,0.33,NULL,NULL,NULL
10,13,277330508,2022-11-02 23:37:47.882149,2022-11-06 15:35:01.880524,"{'name': 'xqrdxnriso', 'dob': '2001-04-30', 'g...","{'name': 'xqrdxnriso', 'dob': '2001-04-30', 'g...",0.94,0.91,0.98,0.90,NULL,NULL,NULL
14,18,425858042,2022-10-27 02:00:57.276212,NaT,"{'name': 'liwhykvmtb', 'dob': '1997-10-13', 'g...","{'name': 'bagvqgmcym', 'dob': '1999-11-19', 'g...",0.96,0.72,0.78,0.16,NULL,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66945,107962,296734113,2022-09-14 06:32:36.976495,2022-10-31 02:21:12.114358,"{'name': 'vilxafjzsk', 'dob': '1999-07-06', 'g...","{'name': 'cmorevvhld', 'dob': '1997-04-30', 'g...",0.25,0.55,0.84,0.66,NULL,NULL,NULL
66954,107978,523296380,2022-11-26 17:45:47.529941,NaT,"{'name': 'fbwrjssqag', 'dob': '2001-10-27', 'g...","{'name': 'uplljqktry', 'dob': '1999-12-30', 'g...",0.57,0.87,0.35,0.99,NULL,NULL,NULL
66955,107979,219580303,2022-12-12 07:54:48.756502,2022-12-28 18:24:52.215183,"{'name': 'klqqoksmct', 'dob': '2003-03-26', 'g...","{'name': 'dpfrgdxkmb', 'dob': '2000-11-19', 'g...",0.51,0.11,0.15,0.31,NULL,NULL,NULL
66957,107981,895144882,2022-12-05 15:15:56.368251,2022-12-09 05:34:05.469009,"{'name': 'jekcjeznov', 'dob': '1999-11-22', 'g...","{'name': 'lavprkovwy', 'dob': '1992-08-16', 'g...",0.43,0.73,0.15,0.33,NULL,NULL,NULL
66962,107992,672355330,2022-09-03 04:46:01.035672,NaT,"{'name': 'zlwywhlxfl', 'dob': '2002-06-29', 'g...","{'name': 'uvvjuabtlv', 'dob': '1991-07-01', 'g...",0.15,0.43,0.06,0.38,NULL,NULL,NULL

In [ ]:
#ekyc_df[(ekyc_df['CUSTOMER_ID']=='NULL')&(ekyc_df['ACCOUNT_NO']!='NULL')]

In [ ]:
ekyc_df[(ekyc_df['ACCOUNT_NO']!='NULL')]

,index,eKYC_ID,eKYC_DT,account_created,OCR_INFO,INPUT_INFO,SANITY_SCORE,TAMPER_SCORE,LIVENESS_SCORE,MATCHING_SCORE,CUSTOMER_ID,ACCOUNT_NO,ACCOUNT_CATEGORY
0,0,947146952,2022-12-31 02:57:32.228639,2022-12-31 12:11:27.810310,"{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...","{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...",0.96,0.91,0.92,0.89,527181,0265-4235-1161-5594,1001
1,1,731170965,2022-10-22 05:51:35.718344,2022-12-30 20:07:35.918913,"{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...","{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...",0.95,0.90,0.91,0.88,422352,4192-8327-6483-5030,1002
4,5,484921809,2022-08-31 05:58:24.598552,2022-12-16 01:53:00.245820,"{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...","{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...",0.99,0.94,0.92,0.97,240069,6311-6566-7010-6513,1001
6,7,270567119,2022-05-07 14:24:25.973110,2022-11-01 13:42:29.993055,"{'name': 'mxnbnwbbwk', 'dob': '1992-11-08', 'g...","{'name': 'mxnbnwbbwk', 'dob': '1992-11-08', 'g...",0.94,0.93,0.99,0.88,996743,5346-2475-1079-9118,1001
8,9,780381554,2022-12-27 09:02:32.588151,2022-12-29 18:40:57.802816,"{'name': 'lbjyzbjrrj', 'dob': '1993-01-27', 'g...","{'name': 'lbjyzbjrrj', 'dob': '1993-01-27', 'g...",0.98,1.00,0.97,0.98,674446,0256-3421-6073-3754,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66956,107980,548666762,2022-12-18 15:25:49.106128,2022-12-18 22:25:02.347082,"{'name': 'awzlyuingf', 'dob': '1999-11-05', 'g...","{'name': 'awzlyuingf', 'dob': '1999-11-05', 'g...",0.92,0.93,0.93,0.97,579123,6448-6873-4249-8650,1002
66963,107993,458737684,2022-11-30 06:04:54.654145,2022-12-29 20:17:36.188196,"{'name': 'trwdltnyxd', 'dob': '1994-11-26', 'g...","{'name': 'trwdltnyxd', 'dob': '1994-11-26', 'g...",0.99,0.89,0.87,0.91,543324,2022-2693-5009-7950,1001
66964,107997,859524317,2022-12-31 05:47:29.719332,2022-12-31 17:43:03.181719,"{'name': 'wzhaqgprdw', 'dob': '1992-05-04', 'g...","{'name': 'wzhaqgprdw', 'dob': '1992-05-04', 'g...",0.86,0.98,0.87,0.95,318650,2529-2076-0793-8517,1001
66965,107998,896795272,2022-12-31 01:35:11.146551,2022-12-31 21:18:02.955062,"{'name': 'mdjcztcxsd', 'dob': '2002-04-26', 'g...","{'name': 'mdjcztcxsd', 'dob': '2002-04-26', 'g...",0.93,0.86,0.92,0.88,211529,6529-8856-9358-2643,1001
66966,107999,323149598,2022-11-17 09:09:43.012075,2022-11-18 05:16:37.424271,"{'name': 'oqunzvqqko', 'dob': '1990-05-03', 'g...","{'name': 'oqunzvqqko', 'dob': '1990-05-03', 'g...",0.94,0.90,0.85,0.88,820656,5335-4882-1542-2832,1001

In [ ]:
#ekyc_df[(~(ekyc_df['CUSTOMER_ID'].isna())) & (ekyc_df['SANITY_SCORE'] < 0.85)]['CUSTOMER_ID']
ekyc_df[(~(ekyc_df['CUSTOMER_ID']=='NULL')) & (ekyc_df['SANITY_SCORE'] < 0.85)]['CUSTOMER_ID']

13       762332
89       487652
232      122068
288      778628
375      160096
          ...
66894    995604
66907    716054
66908    526214
66926    526497
66952    123532
Name: CUSTOMER_ID, Length: 2007, dtype: object

In [ ]:
ekyc_df[~(ekyc_df['CUSTOMER_ID']=='NULL')]['CUSTOMER_ID'].value_counts()

527181    1
440965    1
115664    1
264867    1
630093    1
         ..
794799    1
521043    1
469077    1
844015    1
820656    1
Name: CUSTOMER_ID, Length: 47116, dtype: int64

In [ ]:
ekyc_df[(~(ekyc_df['ACCOUNT_NO']=='NULL')) & (ekyc_df['SANITY_SCORE'] < 0.85)]['CUSTOMER_ID']

89       487652
400      692708
578      355205
672      757464
706      404793
          ...
66812    603780
66907    716054
66908    526214
66926    526497
66952    123532
Name: CUSTOMER_ID, Length: 1401, dtype: object

In [ ]:
cus_id = ekyc_df[~(ekyc_df['CUSTOMER_ID']=='NULL')]['CUSTOMER_ID'].to_list()

In [ ]:
len(cus_id)

47116

In [ ]:
ekyc_df

,index,eKYC_ID,eKYC_DT,account_created,OCR_INFO,INPUT_INFO,SANITY_SCORE,TAMPER_SCORE,LIVENESS_SCORE,MATCHING_SCORE,CUSTOMER_ID,ACCOUNT_NO,ACCOUNT_CATEGORY
0,0,947146952,2022-12-31 02:57:32.228639,2022-12-31 12:11:27.810310,"{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...","{'name': 'qahftrxcka', 'dob': '2000-09-22', 'g...",0.96,0.91,0.92,0.89,527181,0265-4235-1161-5594,1001
1,1,731170965,2022-10-22 05:51:35.718344,2022-12-30 20:07:35.918913,"{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...","{'name': 'nzjovqwpsb', 'dob': '2000-07-09', 'g...",0.95,0.90,0.91,0.88,422352,4192-8327-6483-5030,1002
2,3,952307985,2022-11-19 16:34:27.612759,NaT,"{'name': 'bxosfmxqdd', 'dob': '1993-01-15', 'g...","{'name': 'kfzncbcquk', 'dob': '2004-03-16', 'g...",0.53,0.97,0.86,0.01,NULL,NULL,NULL
3,4,842579141,2022-12-29 21:04:26.789789,NaT,"{'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...","{'name': 'dtounaiayw', 'dob': '1998-09-25', 'g...",0.96,0.97,1.00,0.93,767944,NULL,NULL
4,5,484921809,2022-08-31 05:58:24.598552,2022-12-16 01:53:00.245820,"{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...","{'name': 'fipffbqfxw', 'dob': '2004-01-16', 'g...",0.99,0.94,0.92,0.97,240069,6311-6566-7010-6513,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66962,107992,672355330,2022-09-03 04:46:01.035672,NaT,"{'name': 'zlwywhlxfl', 'dob': '2002-06-29', 'g...","{'name': 'uvvjuabtlv', 'dob': '1991-07-01', 'g...",0.15,0.43,0.06,0.38,NULL,NULL,NULL
66963,107993,458737684,2022-11-30 06:04:54.654145,2022-12-29 20:17:36.188196,"{'name': 'trwdltnyxd', 'dob': '1994-11-26', 'g...","{'name': 'trwdltnyxd', 'dob': '1994-11-26', 'g...",0.99,0.89,0.87,0.91,543324,2022-2693-5009-7950,1001
66964,107997,859524317,2022-12-31 05:47:29.719332,2022-12-31 17:43:03.181719,"{'name': 'wzhaqgprdw', 'dob': '1992-05-04', 'g...","{'name': 'wzhaqgprdw', 'dob': '1992-05-04', 'g...",0.86,0.98,0.87,0.95,318650,2529-2076-0793-8517,1001
66965,107998,896795272,2022-12-31 01:35:11.146551,2022-12-31 21:18:02.955062,"{'name': 'mdjcztcxsd', 'dob': '2002-04-26', 'g...","{'name': 'mdjcztcxsd', 'dob': '2002-04-26', 'g...",0.93,0.86,0.92,0.88,211529,6529-8856-9358-2643,1001
66966,107999,323149598,2022-11-17 09:09:43.012075,2022-11-18 05:16:37.424271,"{'name': 'oqunzvqqko', 'dob': '1990-05-03', 'g...","{'name': 'oqunzvqqko', 'dob': '1990-05-03', 'g...",0.94,0.90,0.85,0.88,820656,5335-4882-1542-2832,1001

In [ ]:
ekyc_df.to_csv('/content/drive/MyDrive/Session Slides/Bigcourse/Case 1/eKYC_Data.csv',date_format='%Y-%m-%d %H:%M:%S')

# **TRANSACTION**

In [ ]:
import random

num_records = 428093

record_list = []

while len(record_list) < num_records:
    random_number = random.randint(100000, 999999)
    record = f"FT_{random_number:06d}"
    if record not in record_list:
        record_list.append(record)

print(record_list)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
ekyc_customer_ids = ekyc_df[~(ekyc_df['CUSTOMER_ID']=='NULL')]['CUSTOMER_ID'].sample(frac=0.67, random_state=42).tolist() #ekyc_df['CUSTOMER_ID'].sample(frac=0.67, random_state=42).tolist()
non_ekyc_customer_ids = [generate_random_string(6) for _ in range(444444 - len(ekyc_customer_ids))]

In [ ]:
#ekyc_df[~(ekyc_df['CUSTOMER_ID'].isna())]['CUSTOMER_ID']

In [ ]:
#ekyc_customer_ids+non_ekyc_customer_ids

In [ ]:
import string

In [ ]:
# Generate random string with specified length
def generate_random_string(length):
    letters = '0123456789'#string.ascii_uppercase + string.ascii_lowercase
    return ''.join(random.choice(letters) for _ in range(length))

# Generate random Transaction_ID
def generate_transaction_id():
    return 'FT_' + generate_random_string(6)

# Generate random Transaction_Account
def generate_transaction_account():
    return '-'.join([generate_random_string(4) for _ in range(3)]) + '-' + generate_random_string(4)

# Generate random Customer ID
def generate_customer_id(ekyc_df, n):
    ekyc_customer_ids = ekyc_df[~(ekyc_df['CUSTOMER_ID']=='NULL')]['CUSTOMER_ID'].sample(frac=0.67, random_state=42).tolist() #ekyc_df['CUSTOMER_ID'].sample(frac=0.67, random_state=42).tolist()
    non_ekyc_customer_ids = [generate_random_string(6) for _ in range(n - len(ekyc_customer_ids))]
    return ekyc_customer_ids + non_ekyc_customer_ids

# Generate random Account_Category
def generate_account_category():
    categories = ['1001', '1002', '1003', '1004', '1005']
    return random.choice(categories)

# Generate random Channel based on Account_Category
def generate_channel(account_category):
    if account_category in ['1001', '1002']:
        return 'APP'
    else:
        channels = ['WEB', 'RB', 'PORTAL']
        return random.choice(channels)

# Generate random Transaction_Type
def generate_transaction_type():
    types = ['NapasTransfer', 'CitadTransfer', 'InternalPayment', 'BillPayment', 'TopupPayment', 'TutionFee', 'FacePay', 'TopupAccount', 'OpenDeposit']
    return random.choice(types)

# Generate random Transaction_Group based on Transaction_Type
def generate_transaction_group(transaction_type):
    if transaction_type in ['NapasTransfer', 'CitadTransfer', 'InternalPayment']:
        return 'TRANSFER'
    elif transaction_type in ['BillPayment', 'TopupPayment', 'TutionFee', 'FacePay']:
        return 'PAYMENT'
    elif transaction_type in ['TopupAccount', 'OpenDeposit']:
        return 'DEPOSIT'

# Generate random Transaction_Amount based on Transaction_Type
def generate_transaction_amount(transaction_type):
    if generate_transaction_group(transaction_type) == 'TRANSFER':
        return random.uniform(20000, 200000000)
    elif generate_transaction_group(transaction_type) == 'PAYMENT':
        return random.uniform(20000, 500000000)
    elif generate_transaction_group(transaction_type) == 'DEPOSIT':
        return random.uniform(1000000, 1000000000)

# Generate random Transaction_Amount based on Transaction_Type
def generate_transaction_dt():
  # Define the start and end datetimes
  start_datetime = datetime(2022, 1, 1, 0, 0, 0)
  end_datetime = datetime(2023, 1, 1, 0, 0, 0)

  # Generate a random number of seconds within the specified range
  random_seconds = random.randint(0, int((end_datetime - start_datetime).total_seconds()))

  # Add the random number of seconds to the start datetime
  random_datetime = start_datetime + timedelta(seconds=random_seconds)
  return random_datetime

# Create the DataFrame
def generate_dataframe(n, ekyc_df):
    data = {
        'Transaction_ID': [generate_transaction_id() for _ in range(n)],
        'Transaction_Account': [generate_transaction_account() for _ in range(n)],
        'Customer_ID': generate_customer_id(ekyc_df, n),
        'Account_Category': [generate_account_category() for _ in range(n)],
    }

    data['Channel'] = [generate_channel(category) for category in data['Account_Category']]
    data['Transaction_Type'] = [generate_transaction_type() for _ in range(n)]
    data['Transaction_Group'] = [generate_transaction_group(t_type) for t_type in data['Transaction_Type']]
    data['Transaction_Amount'] = [generate_transaction_amount(t_type) for t_type in data['Transaction_Type']]
    data['Transaction_DT'] = [generate_transaction_dt() for _ in range(n)]

    df = pd.DataFrame(data)
    return df

# Assuming ekyc_df is the DataFrame containing the 'CUSTOMER_ID' column
#transaction = pd.DataFrame({'CUSTOMER_ID': [generate_random_string(6) for _ in range(10000)]})

# Generate the DataFrame with 444,444 records
trans_df = generate_dataframe(444444, ekyc_df)

In [ ]:
trans_df.head(5)

,Transaction_ID,Transaction_Account,Customer_ID,Account_Category,Channel,Transaction_Type,Transaction_Group,Transaction_Amount,Transaction_DT
0,FT_770684,4765-5124-0068-0761,655923,1004,PORTAL,NapasTransfer,TRANSFER,2.340093e+06,2022-10-08 04:47:31
1,FT_318143,7645-2733-3013-9749,179851,1003,PORTAL,InternalPayment,TRANSFER,1.407916e+08,2022-05-03 03:16:27
2,FT_629361,5266-3682-6943-4471,568334,1004,WEB,OpenDeposit,DEPOSIT,7.731833e+07,2022-08-21 06:20:18
3,FT_696403,3303-9746-7043-9908,595662,1001,APP,OpenDeposit,DEPOSIT,5.561426e+08,2022-12-26 08:12:05
4,FT_342002,6054-8979-0390-1428,380166,1004,WEB,NapasTransfer,TRANSFER,1.358286e+08,2022-07-23 07:25:31

In [ ]:
trans_df['Transaction_Amount'] = trans_df['Transaction_Amount'].apply(lambda x: int(x))

In [ ]:
trans_df['Customer_ID'].value_counts()

307610    7
485023    6
362596    6
137171    6
759954    6
         ..
764786    1
206346    1
061618    1
958702    1
969107    1
Name: Customer_ID, Length: 359153, dtype: int64

In [ ]:
trans_df['Transaction_Amount'].mean()

255768702.55152056

In [ ]:
trans_df.groupby(['Transaction_Group'])['Transaction_Amount'].mean()

Transaction_Group
DEPOSIT     5.012636e+08
PAYMENT     2.502312e+08
TRANSFER    1.002160e+08
Name: Transaction_Amount, dtype: float64

In [ ]:
trans_df.groupby(['Transaction_Group'])['Transaction_Amount'].min()

Transaction_Group
DEPOSIT     1010260
PAYMENT       21482
TRANSFER      24384
Name: Transaction_Amount, dtype: int64

In [ ]:
trans_df.groupby(['Transaction_Group'])['Transaction_Amount'].max()

Transaction_Group
DEPOSIT     999998543
PAYMENT     499998382
TRANSFER    199998139
Name: Transaction_Amount, dtype: int64

In [ ]:
trans_df

,Transaction_ID,Transaction_Account,Customer_ID,Account_Category,Channel,Transaction_Type,Transaction_Group,Transaction_Amount,Transaction_DT
0,FT_770684,4765-5124-0068-0761,655923,1004,PORTAL,NapasTransfer,TRANSFER,2340092,2022-10-08 04:47:31
1,FT_318143,7645-2733-3013-9749,179851,1003,PORTAL,InternalPayment,TRANSFER,140791556,2022-05-03 03:16:27
2,FT_629361,5266-3682-6943-4471,568334,1004,WEB,OpenDeposit,DEPOSIT,77318330,2022-08-21 06:20:18
3,FT_696403,3303-9746-7043-9908,595662,1001,APP,OpenDeposit,DEPOSIT,556142608,2022-12-26 08:12:05
4,FT_342002,6054-8979-0390-1428,380166,1004,WEB,NapasTransfer,TRANSFER,135828617,2022-07-23 07:25:31
...,...,...,...,...,...,...,...,...,...
444439,FT_844391,4879-0639-7484-7469,814949,1003,WEB,InternalPayment,TRANSFER,67415878,2022-10-16 17:56:50
444440,FT_280639,0223-2867-9365-9696,533871,1003,RB,TutionFee,PAYMENT,460685106,2022-05-10 20:48:53
444441,FT_151680,6559-2108-8083-6610,851607,1003,PORTAL,BillPayment,PAYMENT,144021359,2022-11-17 11:00:45
444442,FT_010712,1662-1748-2218-7795,599316,1003,RB,FacePay,PAYMENT,261822305,2022-05-17 02:55:55
444443,FT_688640,4623-6437-0073-5624,969107,1005,RB,TutionFee,PAYMENT,388448562,2022-10-30 01:39:02

In [ ]:
trans_df['CUSTOMER_ID'] = trans_df['Customer_ID'].astype(str)
ekyc_df['CUSTOMER_ID'] = ekyc_df['CUSTOMER_ID'].astype(str)

In [ ]:
trans_df.merge(ekyc_df, on='CUSTOMER_ID',how='outer')

,Transaction_ID,Transaction_Account,Customer_ID,Account_Category,Channel,Transaction_Type,Transaction_Group,Transaction_Amount,Transaction_DT,CUSTOMER_ID,...,eKYC_DT,account_created,OCR_INFO,INPUT_INFO,SANITY_SCORE,TAMPER_SCORE,LIVENESS_SCORE,MATCHING_SCORE,ACCOUNT_NO,ACCOUNT_CATEGORY
0,FT_770684,4765-5124-0068-0761,655923,1004,PORTAL,NapasTransfer,TRANSFER,2340092.0,2022-10-08 04:47:31,655923,...,2022-11-29 16:18:33.263241,2022-12-30 05:10:06.247406,"{'name': 'hfgyiyksoy', 'dob': '2002-02-11', 'g...","{'name': 'hfgyiyksoy', 'dob': '2002-02-11', 'g...",0.55,0.59,0.42,0.93,7685-4509-2569-6903,1001
1,FT_318143,7645-2733-3013-9749,179851,1003,PORTAL,InternalPayment,TRANSFER,140791556.0,2022-05-03 03:16:27,179851,...,2022-11-10 05:06:19.266396,2022-11-20 01:34:39.304908,"{'name': 'bjwfdkjvfr', 'dob': '2001-06-08', 'g...","{'name': 'bjwfdkjvfr', 'dob': '2001-06-08', 'g...",1.00,0.96,0.96,0.96,6788-1597-5862-1319,1001
2,FT_629361,5266-3682-6943-4471,568334,1004,WEB,OpenDeposit,DEPOSIT,77318330.0,2022-08-21 06:20:18,568334,...,2022-10-12 16:45:57.730280,2022-11-12 07:38:10.686721,"{'name': 'ojpjajanhy', 'dob': '1995-03-12', 'g...","{'name': 'ojpjajanhy', 'dob': '1995-03-12', 'g...",0.96,0.86,0.88,0.96,1722-6762-0843-9474,1001
3,FT_696403,3303-9746-7043-9908,595662,1001,APP,OpenDeposit,DEPOSIT,556142608.0,2022-12-26 08:12:05,595662,...,2022-10-23 13:48:35.152799,NaT,"{'name': 'ljahtdngqx', 'dob': '1991-11-23', 'g...","{'name': 'ljahtdngqx', 'dob': '1991-11-23', 'g...",0.98,0.85,0.86,0.90,NULL,NULL
4,FT_342002,6054-8979-0390-1428,380166,1004,WEB,NapasTransfer,TRANSFER,135828617.0,2022-07-23 07:25:31,380166,...,2022-11-19 21:27:01.521901,NaT,"{'name': 'kuazyagqoj', 'dob': '1989-07-23', 'g...","{'name': 'kuazyagqoj', 'dob': '1989-07-23', 'g...",0.88,0.87,0.86,0.86,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,791068,...,2022-12-17 03:50:17.601161,2022-12-28 18:59:50.055582,"{'name': 'pfibjkmxlx', 'dob': '1992-12-29', 'g...","{'name': 'pfibjkmxlx', 'dob': '1992-12-29', 'g...",0.96,0.95,0.86,0.93,5229-9066-1218-7085,1001
474599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,508026,...,2022-07-29 10:06:08.554167,2022-08-12 18:36:57.495938,"{'name': 'tkaxrngmub', 'dob': '1999-07-27', 'g...","{'name': 'tkaxrngmub', 'dob': '1999-07-27', 'g...",0.94,0.89,0.96,0.96,5323-3287-5367-3796,1001
474600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,378951,...,2022-12-29 18:51:48.973604,2022-12-30 22:52:55.882827,"{'name': 'fsonkewcfd', 'dob': '2000-05-11', 'g...","{'name': 'fsonkewcfd', 'dob': '2000-05-11', 'g...",0.99,0.94,0.95,0.88,2244-5695-5055-2098,1002
474601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,924768,...,2022-10-19 08:24:04.812366,NaT,"{'name': 'mefymhsxhm', 'dob': '2005-02-23', 'g...","{'name': 'mefymhsxhm', 'dob': '2005-02-23', 'g...",0.88,0.85,0.88,0.88,NULL,NULL
474602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,995828,...,2022-08-03 12:24:08.115535,NaT,"{'name': 'yffrzoxghq', 'dob': '1998-01-23', 'g...","{'name': 'yffrzoxghq', 'dob': '1998-01-23', 'g...",0.87,0.95,0.88,0.98,NULL,NULL

In [ ]:
trans_df.merge(ekyc_df, on='CUSTOMER_ID',how='left')

,Transaction_ID,Transaction_Account,Customer_ID,Account_Category,Channel,Transaction_Type,Transaction_Group,Transaction_Amount,Transaction_DT,CUSTOMER_ID,...,eKYC_DT,account_created,OCR_INFO,INPUT_INFO,SANITY_SCORE,TAMPER_SCORE,LIVENESS_SCORE,MATCHING_SCORE,ACCOUNT_NO,ACCOUNT_CATEGORY
0,FT_770684,4765-5124-0068-0761,655923,1004,PORTAL,NapasTransfer,TRANSFER,2340092,2022-10-08 04:47:31,655923,...,2022-11-29 16:18:33.263241,2022-12-30 05:10:06.247406,"{'name': 'hfgyiyksoy', 'dob': '2002-02-11', 'g...","{'name': 'hfgyiyksoy', 'dob': '2002-02-11', 'g...",0.55,0.59,0.42,0.93,7685-4509-2569-6903,1001
1,FT_318143,7645-2733-3013-9749,179851,1003,PORTAL,InternalPayment,TRANSFER,140791556,2022-05-03 03:16:27,179851,...,2022-11-10 05:06:19.266396,2022-11-20 01:34:39.304908,"{'name': 'bjwfdkjvfr', 'dob': '2001-06-08', 'g...","{'name': 'bjwfdkjvfr', 'dob': '2001-06-08', 'g...",1.00,0.96,0.96,0.96,6788-1597-5862-1319,1001
2,FT_629361,5266-3682-6943-4471,568334,1004,WEB,OpenDeposit,DEPOSIT,77318330,2022-08-21 06:20:18,568334,...,2022-10-12 16:45:57.730280,2022-11-12 07:38:10.686721,"{'name': 'ojpjajanhy', 'dob': '1995-03-12', 'g...","{'name': 'ojpjajanhy', 'dob': '1995-03-12', 'g...",0.96,0.86,0.88,0.96,1722-6762-0843-9474,1001
3,FT_696403,3303-9746-7043-9908,595662,1001,APP,OpenDeposit,DEPOSIT,556142608,2022-12-26 08:12:05,595662,...,2022-10-23 13:48:35.152799,NaT,"{'name': 'ljahtdngqx', 'dob': '1991-11-23', 'g...","{'name': 'ljahtdngqx', 'dob': '1991-11-23', 'g...",0.98,0.85,0.86,0.90,NULL,NULL
4,FT_342002,6054-8979-0390-1428,380166,1004,WEB,NapasTransfer,TRANSFER,135828617,2022-07-23 07:25:31,380166,...,2022-11-19 21:27:01.521901,NaT,"{'name': 'kuazyagqoj', 'dob': '1989-07-23', 'g...","{'name': 'kuazyagqoj', 'dob': '1989-07-23', 'g...",0.88,0.87,0.86,0.86,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444439,FT_844391,4879-0639-7484-7469,814949,1003,WEB,InternalPayment,TRANSFER,67415878,2022-10-16 17:56:50,814949,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444440,FT_280639,0223-2867-9365-9696,533871,1003,RB,TutionFee,PAYMENT,460685106,2022-05-10 20:48:53,533871,...,2022-12-31 20:48:25.021076,NaT,"{'name': 'gullvdxgfi', 'dob': '1990-05-24', 'g...","{'name': 'gullvdxgfi', 'dob': '1990-05-24', 'g...",0.89,0.88,0.99,0.85,NULL,NULL
444441,FT_151680,6559-2108-8083-6610,851607,1003,PORTAL,BillPayment,PAYMENT,144021359,2022-11-17 11:00:45,851607,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444442,FT_010712,1662-1748-2218-7795,599316,1003,RB,FacePay,PAYMENT,261822305,2022-05-17 02:55:55,599316,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444443,FT_688640,4623-6437-0073-5624,969107,1005,RB,TutionFee,PAYMENT,388448562,2022-10-30 01:39:02,969107,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ekyc_df['CUSTOMER_ID'].value_counts()

NULL      19851
527181        1
440965        1
115664        1
264867        1
          ...
794799        1
521043        1
469077        1
844015        1
820656        1
Name: CUSTOMER_ID, Length: 47117, dtype: int64

In [ ]:
#merged = trans_df.merge(ekyc_df, on='CUSTOMER_ID',how='full')
#merged[merged['Channel']=='APP']['Customer_ID'].value_counts()

In [ ]:
#merged[trans_df.columns].shape

In [ ]:
#merged.head(5)

In [ ]:
#merged[trans_df.columns].head(5)

In [ ]:
trans_df.to_csv('/content/drive/MyDrive/Session Slides/Bigcourse/Case 1/Transaction_Data.csv',date_format='%Y-%m-%d %H:%M:%S')

In [ ]:
trans_df['Transaction_Account'].value_counts()

4765-5124-0068-0761    1
3464-2903-3546-4018    1
5667-5279-4232-9505    1
2309-6463-0714-1929    1
7473-4670-2694-8679    1
                      ..
6226-3055-2538-3889    1
2587-9686-1276-8595    1
5218-8228-3461-6084    1
7277-2725-5445-5388    1
4623-6437-0073-5624    1
Name: Transaction_Account, Length: 444444, dtype: int64